# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Config file
src/resources/config.properties
bin

# Python stuff if coming from python branch
config.properties
build
dist
sweeppy.egg-info
sweeppy/__pycache__